<div class="construction-container">
    <mat-card>
      <mat-card-header>
        <mat-icon class="construction-icon">build</mat-icon>
        <mat-card-title>Page en construction</mat-card-title>
        <mat-card-subtitle>Nous travaillons pour ajouter cette fonctionnalité bientôt.</mat-card-subtitle>
      </mat-card-header>
  
      <mat-card-content>
        <p>Merci de votre compréhension !</p>
      </mat-card-content>
  
      <mat-card-actions class="card-actions-centered">
        <button mat-raised-button color="primary" routerLink="/admin/dashboard">
          Retour au tableau de bord
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
  