<div class="forgot-wrapper">
  <!-- Colonne gauche : formulaire -->
  <div class="forgot-left">
    <h2>Mot de passe oublié</h2>
    <form [formGroup]="form" (ngSubmit)="submit()">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Nom d’utilisateur ou Email</mat-label>
        <input matInput formControlName="email" required />
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">
        Réinitialiser
      </button>
    </form>
  </div>

  <!-- Colonne droite : image -->
  <div class="forgot-right">
    <img src="/img/forgotPassword.webp" alt="UN‑CHK Forgot Password" />
  </div>
</div>
