<header class="hero">
    <div class="overlay">
      <div class="hero-content">
        <h1>Université Numérique <br />Cheikh Hamidou Kane</h1>
        <p>Plateforme académique et d’apprentissage en ligne</p>
  
        <div class="actions">
          <button mat-raised-button color="primary" routerLink="/user/login">
            Se connecter
          </button>
          <button mat-stroked-button color="primary" mat-raised-button color="primary" routerLink="/user/register">
            Contacter l'administration
          </button>
          <button mat-button color="accent" mat-raised-button color="primary" routerLink="/user/forgot-password">
            Mot de passe oublié
          </button>
        </div>
      </div>
    </div>
  </header>
  
  <section class="info">
    <h2>Pourquoi UN‑CHK ?</h2>
    <p>
      Accédez à vos cours, ressources pédagogiques et services universitaires
      depuis n’importe quel appareil, 24 h/24.
    </p>
  </section>
  
  <footer class="footer">
    © {{ currentYear }} Université Numérique Cheikh Hamidou Kane
  </footer>
  