.logout-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f2f2f2;
  }
  
 .mat-card {
    padding: 24px;
    text-align: center;
    max-width: 400px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  }
  
  .mat-card h2 {
    margin-top: 0;
    color: #0678BF;
  }
  
  button {
    margin-top: 16px;
  }
  