<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" opened class="sidenav">
    <mat-toolbar color="primary">Espace Étudiant</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/student/dashboard">
        <mat-icon>home</mat-icon>
        <span>Tableau de bord</span>
      </a>
      <a mat-list-item routerLink="/student/cours">
        <mat-icon>menu_book</mat-icon>
        <span>Mes cours</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary" class="topbar">
      <span>Université CHK</span>
    </mat-toolbar>

    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
